{% extends "base.html" %}
{% block content %}

<h2 style="text-align:center">Registros de {{ usuario.nome }}</h2>
<div class="content-section">
        <table class="table">
                <thead class="thead-dark">
                        <tr>
                        <th>REQ</th>
                        <th>Data</th>
                        <th>Projeto</th>
                        <th>Horas Trabalhadas</th>
                        <th>Aprovação</th>
                        </tr>
                </thead>
                <tbody>
                        {% for registro in registros %}
                        <tr>
                                <td>{{ registro.id }}</td>
                                <td>{{ registro.data.strftime('%d/%m/%Y') }}</td>
                                <td>{{ registro.projeto.nome }}</td>
                                <td>{{ registro.total_horas }}</td>
                                {% if registro.aprovacao %}
                                        <td><a class="btn btn-secondary btn-sm m-1" href="{{ url_for('reprovar', registro_id=registro.id, usuario_id=usuario.id) }}">Aprovado</a></td>
                                {% else %}
                                        <td><a class="btn btn-danger btn-sm m-1" href="{{ url_for('aprovar', registro_id=registro.id, usuario_id=usuario.id) }}">Não Aprovado</a></td>
                                {% endif %}
                        </tr>
                        {% endfor %}
                </tbody>
                </table>
</div>
{% endblock content %}